
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<form method="post" name="Name">
    <h3>Are you sure want to delete this category?</h3>

    <button class="btn">Yes Delete</button>

</form>
<a href="/category/">Cancel</a>